.test_image_div{
    background-color: grey;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}
body{
    background-color:whitesmoke;
}